safe: false
permalink: pretty
google-analytics-id: "UA-63717309-1"
url: https://snippets.haxeflixel.com/

gems:
    - jekyll-sitemap
    - jekyll-minifier

collections:
  concepts:
    output: false
    permalink: /:title/

  proofs:
    output: true
    permalink: /:path/

defaults:
    -
        scope:
            path: ""
            type: "concepts"
        values:
            layout: 
            type: concept
            tags: 
    -
        scope:
            path: ""
            type: "proofs"
        values:
            layout: proof
            type: proof
            tags: [untagged]
            sourcefiles: source/PlayState.hx



exclude: [vendor, .gitignore, Gemfile, Gemfile.lock, README.md, Rakefile, credentials.yaml, .travis.yml, build, key, key.enc, package.json, package-lock.json, "*/*.hxproj", "*/Project.xml", "*/export/html5/haxe", "*/export/html5/obj"]

tag_page_layout: tag_page
tag_page_dir: tags

tags: [haxeflixel, flixel, haxe]
