<footer class="footer">
  <div class="footer-main">
    <div class="container">
      <div class="social col-md-4">
        <iframe src="https://ghbtns.com/github-btn.html?user=HaxeFlixel&repo=haxeflixel-mechanics&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
        <iframe src="https://carlo.github.io/patreon-buttons/patreon-btn.html?creator=haxeflixel" allowtransparency="true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
      </div>
      <div class="hf-link col-md-4" >
        <span<small>Powered By</small> <a href="http://haxeflixel.com"><span><img id="footer-logo" src="{% asset_path haxeflixel.svg %}" alt="HaxeFlixel Logo"/> HaxeFlixel</span></a></span>
      </div>
    </div>
</div>
</footer>
