<footer class="footer">
  <div class="container">
    <div class="social col-md-4">
      <iframe src="https://ghbtns.com/github-btn.html?user=HaxeFlixel&repo=haxeflixel-mechanics&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
    </div>
    <div class="hf-link col-md-4" >
      <span<small>Powered By</small> <a href="http://haxeflixel.com"><span><img id="footer-logo" src="{% asset_path haxeflixel.svg %}" alt="HaxeFlixel Logo"/> HaxeFlixel</span></a></span>
    </div>
    <div class="build-version col-md-4">
      <a href="https://github.com/HaxeFlixel/haxeflixel-mechanics/commits/master"><small>Build {% project_version %} <i class="fa fa-file-code-o"></i></small></a>
    </div>
  </div>
</footer>