<div class="rainbow-bar mt-4" style="height:4px; "></div>
<footer class="d-flex py-3 ">
  <div class="social col-md-4 mb-0 d-flex justify-content-center">
    <iframe src="https://ghbtns.com/github-btn.html?user=HaxeFlixel&repo=snippets.haxeflixel.com&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
    <iframe src="https://carlo.github.io/patreon-buttons/patreon-btn.html?creator=haxeflixel" allowtransparency="true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
  </div>
  <div class="hf-link col-md-4" >
    <span><small>Powered By</small> <a href="https://haxeflixel.com"><span><img id="footer-logo" src="/assets/images/haxeflixel.svg" alt="HaxeFlixel Logo"/> HaxeFlixel</span></a></span>
  </div>
</footer>
