{% if page.seealso | first %}
<div class="card border border-info">
  <div class="card-header bg-indo">
    <h3 class="card-title text-primary fs-6 m-0"><i class="fa fa-bookmark fa-lg fa-fw"></i> See Also</h3>
  </div>
  <div class="card-body">
    <ul class="fa-ul">
    {% assign links = page.seealso %}
    {% for link in links %}
      <li><i class="fa-li fa fa-dot-circle-o"></i ><a href="{% assign linkparts = link | split: '/' %}{% for linkpart in linkparts %}/{{ (linkpart | slugify }}{% endfor %}">{{ link }}</a></li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endif %}
