<ul class="nav nav-pills nav-stacked">
{% for concept in site.concepts | sort: 'order' %}
  <li id="li-{{ concept.permalink | slugify }}">
    <a href="{{ concept.permalink }}">{{ concept.title }}</a>
    <ul class="nav nav-pills nav-stacked nav-subbar">
      {% assign proofs = (site.proofs | where:"concept",concept.title) %}
      {% for proof in proofs | sort: 'order' %}
        <li id="li-{{ proof.permalink | slugify }}"><a  href="{{ proof.permalink }}">{{ proof.title }}</a>
      {% endfor %}
    </ul>
  </li>
{% endfor %}
<ul>