<ul class="nav nav-pills nav-stacked">
{% assign concepts = (site.concepts | sort: 'order') %}
{% for concept in concepts %}
  <li id="li-{{ concept.title | slugify }}" 
  {% if page.type == 'concept' and page.title == concept.title %}
  class="active"
  {% endif %}
  ><a data-toggle="collapse" data-target="list-{{ concept.title | slugify }}" href="/{{ concept.title | slugify }}" >{{ concept.title }}</a><ul id="list-{{ concept.title | slugify }}" class="nav nav-pills nav-stacked nav-subbar collapse
    {% if page.title == concept.title or page.concept == concept.title %}
     in
    {% endif %}
    ">{% assign proofs = (site.proofs | where:"concept",concept.title) | sort: 'order' %}
      {% for proof in proofs %}
        <li id="li-{{proof.concept | slugify }}-{{ proof.title | slugify }}"
  {% if page.type == 'proof' and page.title == proof.title %}
  class="active"
  {% endif %}
  ><a  href="/{{ proof.concept | slugify }}/{{ proof.title | slugify }}">{{ proof.title }}</a></li>
      {% endfor %}
    </ul>
  </li>
{% endfor %}
<ul>