html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Ubuntu', sans-serif;
  background-image: url(https://haxeflixel.com/images/highlight-bg.png), url(https://haxeflixel.com/images/site-bg.png);
  background-repeat: no-repeat, repeat;
  background-position: center top, left top;
  color: #1e1e1e;
  line-height: 1.5;
  font-size: 16px;
  height: 100%;
  margin-bottom: 60px;
}

.container-main {
  margin-top: 24px;
  margin-bottom:15px;
  background:white;
  border: 1px solid #d0d0d0;
  border-radius: 10px;
  padding:16px;
  overflow:hidden;
  padding-top:50px;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color:#101010;
}

.search-form {
  float: right;
  padding: 10px 15px;
  border-top:1px solid transparent;
  border-bottom: 1px solid transparent;
  margin-top:7px;
  margin-bottom:7px;
}

.navbar {
  min-height: 50px;
  margin-bottom:22px;
  border: 1px solid transparent;
  height: 50px;
  margin: 0 0 20px 0;
  padding: 0;
  color: white;
}

.navbar-fixed-top {
  box-shadow: 0 0 3px 3px rgba(0,0,0,0.3);
  top: 0;
  z-index: 1030;

}

.navbar-fixed-top, .navbar-fixed-bottom {
  position: fixed;
  right:0;
  left: 0;
  border-width: 0 0 1px;
}

.navbar-top-links {
  margin-right:0;
}

.navbar-top-links>li {
  display:inline-block;
}

.navbar-top-links>li:first-child {
  margin-left: 15px;
}

.navbar-top-links>li>a {
  padding:15px;
  min-height:50px;
  color: #9d9d9d;
}

.navbar-top-links>li>a:hover, .navbar-top-links>li>a.active  {
  background-color: black;
  color:white;
}

.navbar-brand:active, .navbar-brand:visited, .navbar-brand:hover {
  color:white;
}

.navbar-brand {
  padding:10px;
  float:left;
  line-height:32px;
  font-size: 26px;
  color: white;
}



.navbar-brand img {
  vertical-align: middle;
  height: 30px;
  width: 30px;
  margin-top: -6px;
}



@media(min-width:768px) {

    .navbar-fixed-top {
      border-radius: 0;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }

    .navbar-form {
      width: auto;
      border: 0;
      margin-left: 0;
      margin-right: 0;
      padding-top: 0;
      padding-bottom: 0;
      -webkit-box-shadow:none;
      -moz-box-shadow:none;
      box-shadow:none;
    }
}

.inverse-dropdown {
  background-color: #222 !important;
  border-color: #080808 !important;

}

.inverse-dropdown.divider {
  background-color: #000 !important;
}

.inverse-dropdown>li>a {
  color: #9d9d9d !important;
}
.inverse-dropdown>li>a:hover {
  color: #fff !important;
  background-color: #000 !important;
}

canvas.demo-back {
  position:absolute;
  border: 4px solid #3c3c3c;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.title-logo {
  border: none;
  margin: 0 auto;
}

.demo {
  position:relative;
  top:4px;
  left:4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  border: none;
  margin: 0 auto;
  display: block;
}

footer {
  display:block;
  color: white;
  position: absolute;
  bottom:0;
  width:100%;
  height:60px;

}

footer:before {
  background-image: -webkit-linear-gradient(left, #ffdb2d 0, #ffdb2d 20%, #e30019 20%, #e30019 40%, #9cb641 40%, #9cb641 60%, #1a2eef 60%, #1a2eef 80%, #00abf3 80%, #00abf3 100%);
  background-image: -moz-linear-gradient(left center, #ffdb2d 0, #ffdb2d 20%, #e30019 20%, #e30019 40%, #9cb641 40%, #9cb641 60%, #1a2eef 60%, #1a2eef 80%, #00abf3 80%, #00abf3 100%);
  content:"";
  height:4px;
  position: absolute;
  left:0;
  right:0;
}

.footer-main {
  background: url("https://haxeflixel.com/images/footer-shadow.png") repeat-x scroll 0 0 #515151;
  min-height: 60px;
  text-shadow: none;
}

footer .social {
  margin-top:15px;
  text-align:left;
}

footer .build-version {
  margin-top:20px;
  text-align:right;
  color: #9d9d9d;
}

footer .build-version a {
  text-decoration:none;
  color: #9d9d9d;
}

footer .build-version a:visited {
  color: #9d9d9d;
}

footer .build-version a:hover {
  color: white;
}

footer .build-version a:active {
  color: white;
}


footer .hf-link {
  margin-top:10px;
  text-align:center;
}

footer .hf-link a {
  font-size:28px;
  font-weight: bold;
  text-decoration: none;
}

footer .hf-link  a:visited{
  color: white;
  text-decoration: none;
}

footer .hf-link  a:hover {
  color: #9d9d9d;
  text-decoration: none;
}


footer .hf-link  a:active{
  color: black;
  text-decoration: none;
}


#footer-logo {
	width: 32px;
	height: 32px;

	padding-bottom: 6px;
}

.source-button {
  position: absolute;
  right: 0;
}

.page-header {
  margin-top: 0px;

}

.page-header {
  border: 0;
}

.page-header h1:before {
  background-image: -webkit-linear-gradient(left, #ffdb2d 0, #ffdb2d 20%, #e30019 20%, #e30019 40%, #9cb641 40%, #9cb641 60%, #1a2eef 60%, #1a2eef 80%, #00abf3 80%, #00abf3 100%);
  background-image: -moz-linear-gradient(left center, #ffdb2d 0, #ffdb2d 20%, #e30019 20%, #e30019 40%, #9cb641 40%, #9cb641 60%, #1a2eef 60%, #1a2eef 80%, #00abf3 80%, #00abf3 100%);
  content: "";
  height: 4px;
  left: 0;
  position: absolute;
  right: 0;
  width:100%;
  margin-top:45px;
}

.jumbotron {
  padding-left: 20px !important;
  padding-right: 20px !important;

}

.sidebar-nav {
  padding: 9px 0;
}

.nav-list {
  padding-right:0;
}

.nav-list>li>a, .nav-list .nav-header {
  margin-right: 0;
}

.nav-list a {
  word-wrap: break-word;
  font-size: 14px;
  text-shadow: none!important;
  font-weight: bold;
  line-height:20px;
}

.nav-header {
  color: #555;
  font-weight: bold;
  line-height:20px;
}

.nav-list li i.fa, .fa-ul li i.fa {
  height: 16px;
  width: 16px;
  color: rgb(200,200,200);
  font-weight:normal;
  font-size:16px;
}

fa-li {
  left: -1.5em;
}
.nav-list>li>a.nav-item {
  padding-left: 40px;
}

.nav-list>li>a.nav-item.active {
  background: #9090902e;
}
