body {
  padding-top: 50px;
  font-family: 'Ubuntu', sans-serif;
}
/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

#brand-logo {
	width: 24px;
	height: 24px;

	padding-bottom: 3px;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

.nav-subbar {
  padding-left:20px;
}

.navbar-fixed-top {
  box-shadow: 0 0 3px 3px rgba(0,0,0,0.3);
}

/*
 * Main content
 */
html, body { height:100%; }
.main {
  padding: 20px;
}
#wrap {
  min-height:100%;
}
#main {
  overflow:auto;
  padding-bottom:60px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

canvas.demo-back {
  position:absolute;
  border: 4px solid #3c3c3c;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  
}

object.demo {
  position:relative;
  top:4px;
  left:4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

footer {
  display:block;
  margin-top:-60px;
  background:#515151;
  min-height:60px;
  text-shadow:none;
  position:relative;
  bottom:0;
  width:100%;
  height:60px;
  z-index:2000;
  clear:both;
}

footer:before {
  background-image: -webkit-linear-gradient(left, #ffdb2d 0, #ffdb2d 20%, #e30019 20%, #e30019 40%, #9cb641 40%, #9cb641 60%, #1a2eef 60%, #1a2eef 80%, #00abf3 80%, #00abf3 100%);
  background-image: -moz-linear-gradient(left center, #ffdb2d 0, #ffdb2d 20%, #e30019 20%, #e30019 40%, #9cb641 40%, #9cb641 60%, #1a2eef 60%, #1a2eef 80%, #00abf3 80%, #00abf3 100%);
  top:1;
  content:"";
  height:4px;
  left:0;
  position:absolute;
  right:0;
}


#footer-social {
  margin-top:15px;
  float:none;
  text-align:center;
  
}

.search-form{
  float:right;
}

.source-button {
  position: absolute:
  right: 0;
}
@font-face {
	font-family: 'glyphs';
	src:url('../fonts/glyphs.eot?9fe4o2');
	src:url('../fonts/glyphs.eot?#iefix9fe4o2') format('embedded-opentype'),
		url('../fonts/glyphs.ttf?9fe4o2') format('truetype'),
		url('../fonts/glyphs.woff?9fe4o2') format('woff'),
		url('../fonts/glyphs.svg?9fe4o2#glyphs') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'glyphs';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-chevron-down:before {
	content: "\f0a3";
}
.icon-chevron-right:before {
	content: "\f078";
}
.icon-dashboard:before {
	content: "\f07d";
}
.icon-file-code:before {
	content: "\f010";
}
.icon-puzzle:before {
	content: "\f0c0";
}
.icon-tag:before {
	content: "\f015";
}

