body {
  padding-top: 50px;
  font-family: 'Ubuntu', sans-serif;
}
/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

#brand-logo {
	width: 24px;
	height: 24px;

	padding-bottom: 3px;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

.nav-subbar {
  padding-left:20px;
}

.navbar-fixed-top {
  box-shadow: 0 0 3px 3px rgba(0,0,0,0.3);
}

/*
 * Main content
 */
html, body { height:100%; }
.main {
  padding: 20px;
}
#wrap {
  min-height:100%;
}
#main {
  overflow:auto;
  padding-bottom:60px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

canvas.demo-back {
  position:absolute;
  border: 4px solid #3c3c3c;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  
}

object.demo {
  position:relative;
  top:4px;
  left:4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

footer {
  display:block;
  margin-top:-60px;
  background:#515151;
  min-height:60px;
  text-shadow:none;
  position:relative;
  bottom:0;
  width:100%;
  height:60px;
  z-index:2000;
  clear:both;
}

footer:before {
  background-image: -webkit-linear-gradient(left, #ffdb2d 0, #ffdb2d 20%, #e30019 20%, #e30019 40%, #9cb641 40%, #9cb641 60%, #1a2eef 60%, #1a2eef 80%, #00abf3 80%, #00abf3 100%);
  background-image: -moz-linear-gradient(left center, #ffdb2d 0, #ffdb2d 20%, #e30019 20%, #e30019 40%, #9cb641 40%, #9cb641 60%, #1a2eef 60%, #1a2eef 80%, #00abf3 80%, #00abf3 100%);
  top:1;
  content:"";
  height:4px;
  left:0;
  position:absolute;
  right:0;
}

footer div {
  color: white;
}

footer .social {
  margin-top:15px;
  text-align:left;
}

footer .build-version {
  margin-top:20px;
  text-align:right;
  color: #9d9d9d;
}

footer .build-version a {
  text-decoration:none;
  color: #9d9d9d;
}

footer .build-version a:visited {
  color: #9d9d9d;
}

footer .build-version a:hover {
  color: white;
}

footer .build-version a:active {
  color: white;
}


footer .hf-link {
  margin-top:10px;
  text-align:center;
}

footer .hf-link a {
  font-size:28px;
  font-weight: bold;
  text-decoration: none;
}

footer .hf-link  a:visited{
  color: white;
  text-decoration: none;
}

footer .hf-link  a:hover {
  color: #9d9d9d;
  text-decoration: none;
}


footer .hf-link  a:active{
  color: black;
  text-decoration: none;
}


#footer-logo {
	width: 32px;
	height: 32px;

	padding-bottom: 6px;
}

.search-form{
  float:right;
}

.source-button {
  position: absolute:
  right: 0;
}

h3.panel-title {
  font-size:24px;
  line-height:30px;
}

.fa-li {
  font-size: 0.66666666em;
  line-height:20px;
}