<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="margin-bottom: 0">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><span><img id="brand-logo" src="{% asset_path hfm-logo.svg %}" alt="HaxeFlixel Logo"/> HaxeFlixel Mechanics</span></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-top-links navbar-nav">
            <li {% if page.title == "About" %}class="active"{% endif %}><a href="/about" >About</a></li>
            <li {% if page.title == "Tutorials" %}class="active"{% endif %}><a href="/tutorials" >Tutorials</a></li>
            <li class="dropdown ">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Links <span class="caret"></span></a>
                <ul class="dropdown-menu inverse-dropdown">
                  <li><a href="http://haxeflixel.com/">HaxeFlixel</a></li>
                  <li><a href="http://haxeflixel.com/demos">Demos</a></li>
                  <li><a href="http://haxeflixel.com/documentation">Docs</a></li>
                  <li><a href="http://api.haxeflixel.com/">API</a></li>
                </ul>
            </li>
          </ul>
          <form class="navbar-form search-form" role="search" action="http://google.com/search" method="get">
            <div class="form-group">
              <input type="search" name="q" class="form-control" placeholder="Search">
              <input type="hidden" name="q" value="site:http://hfmechanics.nfshost.com">
            </div>
          </form>
        </div>
      </div>
    </nav>

    <div class="container navbar-offset">
      <div class="row-fluid container-main">
        <div class="col-md-3">
          <div class="well sidebar-nav" role="navigation">
            <div class="nav">
              <ul class="nav nav-list">
                {% assign concepts = (site.concepts | sort: 'order') %}
                {% for concept in concepts %}
                  <li id="li-{{ concept.title | slugify }}" class="{% if page.title == concept.title or page.concept == concept.title %} active{% endif %}"><a href="/{{ concept.title | slugify }}" class="nav-header"><i class="fa fa-arrow-circle-o-{% if page.title == concept.title or page.concept == concept.title %}down{% else %}right{% endif %}"></i> {{ concept.title }}</a>
                    <ul id="list-{{ concept.title | slugify }}" class="collapse nav nav-list {% if page.title == concept.title or page.concept == concept.title %} in {% endif %}">
                      {% assign proofs = (site.proofs | where:"concept",concept.title) | sort: 'order' %}
                      {% for proof in proofs %}
                      <li id="li-{{proof.concept | slugify }}-{{ proof.title | slugify }}"><a class="nav-item" href="/{{ proof.concept | slugify }}/{{ proof.title | slugify }}"><i class="fa fa-dot-circle-o"></i> {{ proof.title }}</a></li>
                      {% endfor %}
                    </ul>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-9">
          {% if page.title %}
          {% if page.title <> 'Index' %}
          <div class="page-header">
            <h1>{% if page.type != "tag" %}
            {{ page.title }}
            {% elsif page.type == "tag" %}
            {{ page.tag | capitalize }}
            {% endif %}</h1>
          </div>
          {% endif %}
          {% endif %}
          {{ content }}
          {% include seealso.html %}
          {% include breadcrumb.html %}
        </div>
    </div>
  </div>
  {% include footer.html %}

  <!-- scripts -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/metisMenu/2.0.2/metisMenu.min.js"></script>

  {% javascript highlight.pack %}
  {% javascript main %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', '{{ site.google-analytics-id }}', 'auto');
    ga('send', 'pageview');
  </script>

</html>
