<!doctype html>
<html lang="en">
  {% include head.html %}
  <body class="min-vh-100">

    {% include navbar.html %}

    <div class="container-main container-lg d-flex flex-wrap">

        {% include sidebarnav.html %}

        <main class="prevent-wrap-flex-item w-100">
          {% if page.title %}
          {% if page.title <> 'Index' %}
          <div class="page-header">
            <h1>{% if page.type != "tag" %}
            {{ page.title }}
            {% elsif page.type == "tag" %}
            {{ page.tag | capitalize }}
            {% endif %}</h1>
          </div>
          <div class="rainbow-bar mb-4" style="height:4px; "></div>
          {% endif %}
          {% endif %}
          {{ content }}
        </main>

    </div>
    
  {% include footer.html %}

  {% include scripts.html %}
  
</html>
