---
layout: default
---
{% capture demopath %}{{ page.concept | slugify }}/{{ page.title | slugify }}{% endcapture %}
<div id="content">
{{ content }}
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
      <h3 class="panel-title"><i class="fa fa-play-circle fa-lg fa-fw"></i> Demonstration</h3>
  </div>
  <div class="panel-body">
    <object  class="demo" width="320" height="240" data="/demos/{{ demopath }}/export/flash/bin/{{ page.title | slugify }}.swf">
      <param name="wmode" value="transparent">
    alt : test
    </object>
  </div>

</div>
{% if page.sourcefiles %}
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-code fa-lg fa-fw"></i> Source</h3>
  </div>
  <div class="panel-body">
      {% source {{demopath}} {{page.sourcefiles}} %}
  </div>
  <div class="panel-footer text-right">
    <a href="https://github.com/HaxeFlixel/haxeflixel-mechanics/tree/master/demos/{{ demopath }}" role="button" class="btn btn-social btn-github"><i class="fa fa-github"></i> View Source on GitHub</a>
  </div>
</div>
{% endif %}
