name: CI

on: [push, pull_request, workflow_dispatch, repository_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.0'
    - uses: actions/setup-node@v1
      with:
        node-version: '10.x'
    - uses: lix-pm/setup-lix@master
    - uses: HaxeFlixel/setup-flixel@master
      with:
        haxe-version: stable
        flixel-versions: dev
        target: html5
    - name: Build Site
      run: |
        gem install bundler
        bundle install --jobs=3 --retry=3
        bundle exec rake deploy
    - name: Highlighting
      run: |
        git clone --recursive https://github.com/Gama11/Highlighter
        cd Highlighter
        npm install
        node bin/highlighter.js ../_site
        cd ..
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{secrets.GITHUB_TOKEN}}
        publish_dir: ./_site
        force_orphan: true
        cname: snippets.haxeflixel.com
      if: github.ref == 'refs/heads/master'
